<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="SchoolSafeID.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
    </startup>
    <applicationSettings>
        <SchoolSafeID.Properties.Settings>
            <setting name="school_url" serializeAs="String">
                <value>https://dev.schoolsafeid.com/visitor-management&amp;s=frontier-elementary</value>
            </setting>
            <setting name="printer_name" serializeAs="String">
                <value>DYMO LabelWriter 450 Turbo</value>
            </setting>
        </SchoolSafeID.Properties.Settings>
    </applicationSettings>
</configuration>
